@import "tailwindcss";
@import "@catppuccin/tailwindcss/macchiato.css";

@font-face {
  font-family: 'Overpass';
  src:url('./assets/fonts/Overpass-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
